<div class="container create-user">
    <header class="header">
        <h1>Users Register</h1>
    </header>
    <div class="main">
        {{textbox-input
            label="First Name"
            type="text"
            caption="Enter your first name"
            value=model.firstName
        }}
        {{textbox-input
            label="Last Name"
            type="text"
            caption="Enter your last name"
            value=model.lastName
        }}
        {{textbox-input
            label="Age"
            type="number"
            caption="Enter your age"
            value=model.age
        }}
        {{!-- <UserRegister @model={{model}} /> --}}
    </div>
    <div class="footer">
        <button class="btn grey-btn" {{action "goBack"}}>Back</button>
        <button class="btn green-btn" {{action "submit" model}}>Create User</button>
    </div>
</div>